body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    flex-direction: column;
    background-color: #950740;
}
.container{
    text-align: center;
    background-color: #C3073F;
    width: 80%;
    padding: 30px;
    color: white;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    font-size: 30px;
}
button{
    padding: 30px 25px;
    background-color: #6F2232;
    border: none;
    color: white;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
}
.heading{
    text-shadow: 2px 3px #950740;
}
.share-buttons button{
    margin: 20px;
    background-color: #C3073F;
}
@media (max-width:950px) {
    .container{
        margin-top: 300px;
    }
}